<h1>item_new.erb</h1>


<form action="/form" method="post">
  <label for="POST-item">Item:</label>
  <input id="POST-item" type="text" name="post[name]">
  <input type="submit" value="Submit">
</form>